input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
body {
   font-family: "Poppins", sans-serif;
}
.card.card-bg {
   background-color: #000000;
}
.banner-title {
   font-family: "Berkshire Swash", cursive;
   font-size: 64px;
   color: #ff5e19;
}
.banner-p {
   font-size: 16px;
}
.btn {
   font-weight: 600;
   letter-spacing: 1px;
}
.underline{
   text-decoration: underline solid #ff5e19 3px;
}
ol{
   list-style-type: decimal-leading-zero;
}
ol li{
   padding: 10px 0;
   font-weight: 200;
}
.field-style{
   font-weight: 200;
   font-size: 18px;
}
input{
   width: 100px;
   height: 40px;
   background-color: transparent;
   outline: none;
   border: 1px solid #fff;
   color: #ffffff;
   padding: 0px 10px;
}